@using _2017_05_24ULSAVentas.Models
@model Usuario

@{
    ViewBag.Title = "Mi cuenta";
}

<h2 class="page-header">Resumen</h2>

<table class="table table-bordered table-striped">
    <tr>

    </tr>
</table>