@using _2017_05_24ULSAVentas.Models
@model Usuario

@{
    Layout = "~/Views/Cuenta/_LayoutCuenta.cshtml";

    ViewBag.Title = "Mi cuenta";
    ViewBag.cuentaPaginaActiva = "resumen";
}

<table class="table table-bordered table-striped">
    <tr>

    </tr>
</table>