@{
    ViewBag.Title = "Acerca de nosotros";
}
<h2 class="page-header">@ViewBag.Title.</h2>

<div class="row">
    <div class="col-md-6">
        <p>Proyecto escolar de Desarrollo Web II</p>
    </div>
    <div class="col-md-6">
        <p>Nuestras oficinas:</p>
        <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBosm5YSmCWuTxoAYG2GGSFF3yLamdXNJE"></script>
        @Html.Action("MapaParcial", "Pruebas", new { lat=17.021963, lng=-96.720713 })
    </div>
</div>
