@{
    bool? direccionDireccionEliminada = (bool?)TempData["direccionDireccionEliminada"];
}

@if (direccionDireccionEliminada == true)
{
    <div class="alert alert-warning">
        Dirección eliminada con éxito.
    </div>
}
else if (direccionDireccionEliminada == false)
{
    <div class="alert alert-danger">
        La dirección no se eliminó.
    </div>
}

<div class="btn-group btn-group-justified">
    <a class="btn btn-default btn-block" data-dismiss="modal" onclick="@("window.location.href='" + @Url.Action("Informacion", "Cuenta") + "'");">Cerrar</a>
</div>

@{
    TempData["direccionDireccionEliminada"] = null;
}
