@{
    bool? tarjetaTarjetaEliminada = (bool?)TempData["tarjetaTarjetaEliminada"];
}

@if (tarjetaTarjetaEliminada == true)
{
    <div class="alert alert-warning">
        Tarjeta eliminada con éxito.
    </div>
}
else if (tarjetaTarjetaEliminada == false)
{
    <div class="alert alert-danger">
        La tarjeta no se eliminó.
    </div>
}

<div class="btn-group btn-group-justified">
    <a class="btn btn-default btn-block" data-dismiss="modal" onclick="@("window.location.href='" + @Url.Action("Informacion", "Cuenta") + "'");">Cerrar</a>
</div>

@{
    TempData["tarjetaTarjetaEliminada"] = null;
}
